@use "../vendors/fonts";

//Fonts
$font-base: "Nunito Sans", sans-serif;
$font-heading: "Young Serif", serif;

// Colors
$color-bg: #000;
$color-text: #fff;
$color-muted: #d3d3d3;
$color-accent: #0ce825;
$border-light: #676767;
