@use "../abstracts/variables" as vars;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.5rem;
  background-color: vars.$color-bg;
  border-bottom: 1px solid vars.$border-light;

  &__logo img {
    width: 50px;
    height: 50px;
  }

  &__list {
    display: flex;
    gap: 1rem;
    list-style: none;

    a {
      font-size: 1rem;
      font-weight: 500;
      text-decoration: none;
      color: vars.$color-text;

      &:hover {
        color: vars.$color-accent;
      }
    }
  }
}
