@use "../abstracts/variables" as vars;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200..1000&display=swap");

body {
  font-family: vars.$font-base;
  background-color: vars.$color-bg;
  color: vars.$color-text;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.5rem;
  background-color: vars.$color-bg;
  border-bottom: 1px solid vars.$border-light;

  &__logo img {
    width: 50px;
    height: 50px;
  }

  &__list {
    display: flex;
    gap: 1rem;
    list-style: none;
    a {
      font-size: 1rem;
      font-weight: 500;
      text-decoration: none;
      color: vars.$color-text;
      &:hover {
        color: vars.$color-accent;
      }
    }
  }
}

.hero {
  display: flex;
  justify-content: center;
  width: 100%;

  &__image img {
    width: 100%;
    object-fit: cover;
    border-radius: 0 0 8px 8px;
    margin-bottom: 2rem;
  }
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  &__content {
    padding: 0 18%;
    color: vars.$color-muted;

    &--data {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 1rem;
      color: #d3d3d3;
      padding-bottom: 1rem;
    }
    &--title {
      font-family: vars.$font-heading;
      font-size: 3.5rem;
      letter-spacing: 2px;
    }
    &--text {
      font-size: 1.3rem;
      line-height: 1.5;
      padding: 5rem 0;
    }
    &--quote {
      font-size: 1.4rem;
      font-style: italic;
      color: vars.$color-accent;
      padding: 3rem 0;
    }
  }
}

.model {
  display: flex;
  justify-content: center;
  padding: 5rem 3rem;
  iframe {
    border: 1px solid vars.$color-text;
    border-radius: 8px;
    width: 65vw;
    height: 600px;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  &__title {
    text-align: center;
    font-family: vars.$font-heading;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  &__pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  &__item {
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 8px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      transition: transform 0.5s ease;
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: vars.$color-bg;
  border-top: 1px solid vars.$border-light;
  margin-top: 3rem;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem;

    .footer__social {
      display: flex;
      gap: 2rem;
      list-style: none;

      a {
        font-size: 1.5rem;
        text-decoration: none;
        color: vars.$color-text;
        &:hover {
          color: vars.$color-accent;
        }
      }
    }
  }
}

// Responsive
@media (min-width: 768px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  .hero__image {
    height: 600px;
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
    margin-bottom: 2rem;

    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 72vh;
      object-fit: cover;
      z-index: -1;
    }
  }

  .article__content {
    padding: 0 10%;
    &--data {
      font-size: 1.2rem;
    }
    & h1 {
      font-size: 4rem;
      margin-bottom: 6rem;
    }
    &--text {
      font-size: 1.8rem;
    }
    &--quote {
      font-size: 2.1rem;
      text-align: right;
    }
  }

  .gallery__pictures {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &-item {
      height: 500px;
      width: 400px;
      gap: 30px;
    }
  }

  .footer {
    padding: 2rem;
    display: flex;
    flex-direction: row;

    &__content {
      align-items: center;
      padding: 2rem 5rem;
    }

    .footer__social {
      gap: 3rem;
      a {
        font-size: 1.5rem;
      }
    }
  }
}
